In [1]:
print("Hello World")

Hello World

In [4]:
name = "aman"
age = 24
d_o_b = 01.06
is_adulr = False

print(name)
print(age)
print(d_o_b)

aman
24
1.06

In [12]:
name = input("what is your name : ")
print(name)
print("hello "+name) #concatenation

what is your name : deep
deep
hello deep

In [20]:
old_age = input("enter your age : ")

new_age = int(old_age) + 2
print(new_age)

enter your age : 25
27

In [24]:
number = 18
print(float(number))
int()
print(str(number))
bool()

18.0
18

False

In [27]:
first = int(input("enter first no. : "))
secound = int(input("enter secound no. : "))

sum = first + secound 
print(sum)

enter first no. : 5
enter secound no. : 55
60

In [3]:
name ="Deep Dutta"

# print(name.upper())
# name_lower = name.lower()
# print(name_lower)
print(name.find('e'))
print(name.count("e"))
print(name.index("e"))

print(name.replace("Dutta", "Modak"))
print("T" in name) #for see the alphabet is present or not

1
2
1
Deep Modak
False

In [8]:
print(5*2)
print(5/3)

print(5**4)

10
1.6666666666666667
625

In [11]:
age = int(input("enter your age"))

if age >=18:
    print("your are an adult")
    print("you can vote")
elif age <18 and age >3:
    print("you ate in school")
else:
    print("you are a child")

enter your age1
you are a child

# calculator

In [4]:
a = int(input("enter your first number : "))
operator = input("enter operator (+,-, *, /)")
b = int(input("enter your first numger : "))

if operator == "+":
    print(a + b)
elif operator == "-":
    print(a - b)
elif operator == "*":
    print(a * b)
elif operator == "%":
    print(a % b)
elif operator == "/":
    print(a / b)
else:
    print("invalide option")

    

# if operator

# print("Menu")
# print("1. sum ")
# print("2. subtrct")
# print("3. exit")



# while(1):

enter your first number : 7
enter operator (+,-, *, /)-
enter your first numger : 9
-2

In [5]:
name = range(5)
print(name)

range(0, 5)

In [14]:
i =1
while i <= 5:
    print(i * "*")
    i = i+1

*
**
***
****
*****

In [16]:
i =5
while i >= 1:
    print(i * "*")
    i = i-1

*****
****
***
**
*

In [19]:
for item in range(5):
    print(item +1)

1
2
3
4
5

In [41]:
marks = [98,94,45,66]
print(marks)
print(marks[-3])
print(marks[2])
print(marks[1:3])
print("-------------------")
for score in marks:
    print(score)
print("-------------------")

[98, 94, 45, 66]
94
45
[94, 45]
-------------------
98
94
45
66
-------------------

In [46]:
marks.append(5)
print(marks)
marks.insert(1, 88)
print(marks)
print(88 in marks)
print(len(marks))

[98, 88, 88, 88, 88, 94, 45, 66, 5, 5, 5, 5, 5]
[98, 88, 88, 88, 88, 88, 94, 45, 66, 5, 5, 5, 5, 5]
True
14

In [51]:
marks1 = [25, 28, 67]

i = 0
while i < len(marks):
    print(marks[i])
    i = i+1
    
marks1.clear()
print(marks1)

[]

In [55]:
students = ["ram", "shayam", "lokesh", "nidhi", "sumedha"]

for student in students:
    if student == "lokesh":
        break;
    print(student)

ram
shayam

In [56]:
for student in students:
    if student == "lokesh":
        continue;
    print(student)

ram
shayam
nidhi
sumedha

In [64]:
marks = (95, 99, 75, 45, 85, 75)
# marks.append(85)\
print(marks.count(75))

print(marks.index(85))

2
4

In [69]:
marks2 = {74,83,75,99,67} 
# print(marks2[0])

for scores1 in marks2:
    print(scores1)

67
99
83
74
75

In [71]:
marks3 = {"english" : 95, "chemistry": 87}

print(marks3["chemistry"])
marks3["physics"] = 99
print(marks3)

87
{'english': 95, 'chemistry': 87, 'physics': 99}

################################################################################

1. In-Built Function
2. Module Function
3. User-Defined Function

In [73]:
import math
print(dir(math)) #moduale function

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [75]:
from math import sqrt
# from math import *   #all function are used
print(sqrt(16))

4.0

def function_name(parameters):
   
   //do something

In [82]:
def print_sum(first, secound=5):
    print(first + secound)
    
    
print_sum(8)

13